<h1>I'm from Show file</h1>
<p>
  <strong>Title</strong>
  <%=@article.title %>
</p>
<p>
  <strong>Text</strong>
  <%=@article.text %>
</p>
<table>
  <td>
    <tr><%=link_to ' Back ', articles_path %></tr>
    <tr><%=link_to ' Listing Article ', articles_path %></tr>
    <tr><%=link_to ' Edit ', edit_article_path %></tr>

  </td>
</table>
